.root {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.row {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.number {
    height: 24px;
}

.numberHighlight {
    color: red;
    font-weight: 600;
}