.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: max-content;
    padding: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.number {
    display: block;
    height: 24px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    cursor:help;
}

.numberHighlight {
    color: red;
    font-weight: 600;
}

.answer {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 8px;
}